.post-cell {
  background-color: white;
  padding: 15px;
  border-radius: 14px;
  margin: 10px;
  width: 30vw;
}

.topLevel {
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
  justify-content: space-between;
}

.bottomLevel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post-description {
  /* background-color: yellowgreen; */
  inline-size: 22vw;
  overflow-wrap: break-word;
}

.btn {
  font-size: 10vw;
}
