{% extends "template.html" %}

{% block head %}

	<title>Welcome</title>
{% endblock %}



{% block navbar2 %}
	<a class="nav-link" href="/login"><button class="btn btn-primary" type="button" id="Login">Login</button> </a>
	<a class="nav-link" href="/register"><button class="btn btn-primary" type="button" id="Register">Register</button> </a>
{% endblock %}

{% block content %}  
<div class="body">
    <h1 class="text-center"> Welcome to SoundGood! </h1>
    <br>
    <h3 class="text-center">Use this website to record and rediscover songs.</h3> <br>
    <h4 class="text-center"><span class="glyphicon glyphicon-cloud-upload"></span> Use our forum to communicate with other users.</h4><br>
    <hr>
  </div>
{% endblock %}